@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    background-color: black;
    color: white;
}

.wrapper {
    max-width: 40rem;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    /* height: 16rem; */
    background-image: url("./img/header-background.png");
    background-size: cover;
    /* background-color: white; */
    /* color: black; */
}

header p {
    text-align: center;
    margin-top: 1rem;
    font-size: .75rem;
}

.logo {
    margin-top: 2rem;
    width: 18rem;
}

nav {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: .5rem;
    margin-right: .5rem;
}

.controls {
    padding-top: 2rem;
    width: calc(100% - 2rem);
    margin: 1rem auto;
    max-width: 20rem;
}

.code-buttons {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.code-buttons button {
    margin-left: .25rem;
    margin-right: .25rem;
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .2rem;
}

.controls input {
    background-color: black;
    border: none;
    border: 1px solid white;
    color: white;
    width: 100%;
    height: 3rem;
    padding: .75rem;
    border-radius: .25rem;
    font-family: 'roboto';
}

.controls input:focus {
    outline: none;
    background-color: white;
    color: black;
}

.controls input::placeholder:focus {
    color: black;
}

button[type="submit"] {
    width: 100%;
    height: 3rem;
    padding-bottom: .1rem;
    background-color: black;
    border: none;
    border: 1px solid white;
    color: white;
    border-radius: .2rem;
    font-family: 'roboto';
}
button[type="submit"]:focus {
    background-color: white;
    color: black;
}

.generated-text {
    width: calc(100% - 2rem);
    margin: 1rem;
    height: 20rem;
    overflow: auto;
    border: 1px solid white;
    padding: 1rem;
    border-radius: .25rem;
    background-color: black;
    line-height: 1.25rem;
    font-size: .875rem;
}

.generated-text p {
    margin-bottom: 1rem;
}